.chat{
    width: 90%;
    @media screen and (max-width: 650px) {
       width: 100%;
       overflow-x: hidden;
      }
     
    &-head{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 100%;
        padding: 10px 15px;
        color: #ffff;
        display: flex;
        justify-content: space-between;
        background-color: #303C6C;
        @media screen and (max-width: 650px) {
            border-radius: 0px;
            background-color: #ffff;
            color: black;
          }
         
    &-personinfo{
        display: flex;
        align-items: center;
        &-name{

            margin-left: 15px;
            @media screen and (max-width: 650px) {
                display: flex;
                flex-direction: column;
                border-radius: 0px;
                background-color: #ffff;
                color: black;
              }
        }
        
        img{
            width: 55px;
            border-radius: 50%;
            object-fit: contain;
        }
        &-back{
            width: 25px !important; 
            margin-right: 8px;
        }
    }
    &-icons{
        display: flex;
        justify-content: space-between;
        &-dots{
            margin-right: 50px;
        }
        img{
            cursor: pointer;
            width: 30px;
        }
    }
    
    }
    &-mobile{
        width: 100%;
        margin: none;
        padding: none;
        border-radius: 0px;
    }
    &-body{
        width: 100%;
        height: 70vh;
        @media screen and (max-width: 650px) {
            height: 88vh;
           
          }
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
       
        &-messageSend{
        
           padding: 5px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &-chatbox{
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70%;
                border: 1px solid #BBBBBB;
                padding: 10px 0px;
                margin-right: 10px;
                img{
                    width: 20px;
                    cursor: pointer;
                    margin-left: 8px;
                }
                input{
                    border: none;
                    outline: none;
                    font-size: 1.2rem;
                    width: 90%;
                }
            }
            &-send{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #C4C4C4;
                border-radius: 50px;
                cursor: pointer;
                margin-left: -10%;
                img{
                    width: 25px;
                }
            }
        }
        &-conversation{
            overflow-y: overlay;
            list-style: none;
            &-selected{
                padding: 10px;
                display: flex;
                img{
                    height: 55px;
                    width: 55px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                &-text{
                    padding: 10px;
                    border-radius: 0px 15px 15px 15px;
                    background-color: #F4F4F4;
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    margin-top: 20px;
                    width: 50%;
                     &-time{
                         font-size: 0.9rem;
                         margin-top: 5px;
                        text-align: right;
                        color: rgb(161, 161, 161);
                }
                }
               
            }

            &-me{
                padding: 10px;
                display: flex;
                flex-direction: row-reverse;
                img{
                    height: 55px;
                    width: 55px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                &-text{
                    padding: 15px;
                    border-radius: 25px 0px 25px 25px;
                    background-color: #B4DFE580;
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                    margin-top: 20px;
                    width: 50%;
                     &-time{
                        font-size: 0.9rem;
                        margin-top: 5px;
                        text-align: left;
                        color: rgb(161, 161, 161);
                    }
                }
            }
            &-mobile{

            }
        }
    }
}